*{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.container{
    margin: 30px;
    background-color: grey;
    text-align: center;
    width: 480px;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    
    
}

.screen{
    background-color: darkgray;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid black;

}

#buttonsContainer{
  
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#numContainer{
    height: 450px;
    width: 280px;
    background-color: darkgray;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    
}
.nums{
    background-color: gray;
    height: 90px;
    width: 80px;
    margin: auto;
    font-weight: 100;

   
}
#signContainer{
    height: 450px;
    width: 100px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
}

.sign{
    background-color: rgb(78, 78, 78);
    height: 60px;
    width: 80px;
    font-weight: 300;
}
.sign:hover {
    background-color: rgb(104, 103, 103)
}

#clear{
    background-color: red;
}
#clear:hover{
    background-color: rgb(158, 0, 0);
}

#equal{
    background-color: green;
}
#equal:hover{
    background-color: rgb(4, 212, 4);
}
button{
    font-size: 30px;
    
}

.screenlines{
    height: 40px;
    width: 380px;
    font-size: 30px;
    text-align: right;
    margin: auto;

}
#num0{
    width: 173.1312px;
}
button:hover {
    background-color: rgb(78, 78, 78)
}
